.comments__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 108.9%;
    text-align: center;
    max-width: 800px;
    margin: 0 auto 48px;
}

@media screen and (max-width: 816px) {
    .comments__title {
        font-size: 42px;
        margin-bottom: 24px;
    }
}
@media screen and (max-width: 600px) {
    .comments__title {
        font-size: 32px;
        margin-bottom: 16px;
    }
}