.footer{
    display: flex;
    justify-content: space-between;
    padding: 0 48px;
    margin: 0 auto 24px;
    max-width: 1184px;
}
@media screen and (max-width: 816px) {
    .footer{
        padding: 0 24px;
    }
}
@media screen and (max-width: 750px) {
    .footer{
        flex-direction: column;
        padding-left: 16px;
    }
}