.comments__subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    margin: 0 auto 72px;
    max-width: 640px;
}

@media screen and (max-width: 600px) {
    .comments__subtitle {
        font-size: 16px;
        line-height: 23px;
        margin-bottom: 40px;
    }
}